/* Header */
.header-container {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px 30px;
    border-bottom: 1.5px solid #999999CC;
    box-shadow: 0px 2px 4px 0px #00000040;
    z-index: 1;
}
/* Logo */
.logo-box {
    width: 40%;
    transform: translate(-1px, 3px);
}
.logo {
    width: 116px;
    max-height: 36px;
}
/* Navigation */
.navigation-box {
    width: 50%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.close-menu, .navigation {
    display: none;
}
.navigation {
    width: 100%;
    position: absolute;
    top: 76px;
    left: 0px;
    flex-direction: column;
}
.navigation-outline {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.header-nav-links {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.header-link-box {
    width: 100%;
    padding: 16px 30px 9px;
    background-color: #F0F0F0;
    box-shadow: 0px -1px 1px #00000066, 0px 4px 4px #00000040;
}
.header-link-icon {
    width: 18px;
    height: auto;
    margin-right: 6px;
}
.header-nav-link {
    position: relative;
    top: -1px;
    font-size: 1.250rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: -0.2px;
    text-decoration: none;
    color: #1523168C;
}
.header-link-box path {
    stroke: #4A4A4ACC;
    stroke-opacity: 1;
}
.active-link {
    background-color: var(--secondary);
    box-shadow: 0px 1px 1px #00000066;
}
.active-link path {
    stroke: #FFFFFFE6;
    stroke-opacity: 1;
}
.active-link .header-nav-link {
    font-weight: 300;
    text-shadow: 1px 0px 0px #ffffff3d;
    color: #FFFFFFE6;
}
/* CTA */
.header-cta-box {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding: 15px 0px 11px;
    background-color: #F0F0F0;
    box-shadow: 0px -1px 1px hsla(0, 0%, 0%, 0.4), 0px 4px 4px #00000040;
}
/* Header Social Links */
.header-social-box {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 14px 0px;
    background-color: #F0F0F0;
    box-shadow: 0px -1px 1px hsla(0, 0%, 0%, 0.4), 0px 6px 2px hsla(0, 0%, 0%, 0.23);
}
.header-social-icon {
    width: 30px;
    height: auto;
}
.header-linkedin {
    margin-right: 24px;
}
.header-instagram {
    margin-left: 24px;
}
.header-social-icon path {
    fill: var(--secondary);
}
/* Media Query */
@media all and (min-width: 425px) {
    .header-container {
        padding-right: 35px;
        padding-left: 35px;
    }
    .header-link-box {
        padding-right: 35px;
        padding-left: 35px; 
    }
    .logo {
        width: 124px;
        max-height: 40px;
    }
    .navigation {
        top: 78px;
    }
    .nav-icon {
        width: 32px;
        height: 32px;
    }
    .header-link-icon {
        width: 20px;
    }
    .header-social-icon {
        width: 32px
    }
}
@media all and (min-width: 500px) {
    .header-container {
        padding-right: 55px;
        padding-left: 55px;
    }
    .header-link-box {
        padding-right: 55px;
        padding-left: 55px; 
    }
    .logo {
        width: 132px;
        max-height: 44px;
    }
    .navigation {
        top: 80px;
    }
    .nav-icon {
        width: 34px;
        height: 34px;
    }
    .header-link-icon {
        width: 22px;
    }
    .header-social-icon {
        width: 34px;
    }
}
@media all and (min-width: 568px) {
    .header-container {
        padding-right: 75px;
        padding-left: 75px;
    }
    .header-link-box {
        padding-right: 75px;
        padding-left: 75px; 
    }
    .logo {
        width: 140px;
        max-height: 48px;
    }
    .navigation {
        top: 82px;
    }
    .nav-icon {
        width: 38px;
        height: 38px;
    }
    .header-link-icon {
        width: 24px;
    }
    .header-social-icon {
        width: 36px;
    }
}
@media all and (min-width: 640px) {
    .header-container {
        padding-right: 95px;
        padding-left: 95px;
    }
    .header-link-box {
        padding-right: 95px;
        padding-left: 95px; 
    }
    .logo {
        width: 148px;
        max-height: 52px;
    }
    .navigation {
        top: 84px;
    }
    .nav-icon {
        width: 42px;
        height: 42px;
    }
    .header-link-icon {
        width: 26px;
    }
    .header-social-icon {
        width: 38px;
    }
}
/* Desktop */
@media all and (min-width: 1024px) {
    /* Hide */
    .header-link-icon, .header-social-box, .nav-icon  {
        display: none;
    }
    .header-link-box, .header-cta-box {
        padding: 0;
        background-color: unset;
        box-shadow: unset;
    }
    /* Header */
    .header-container {
        padding: 20px 50px;
    }
    /* Logo */
    .logo-box {
        width: 45%;
    }
    .logo {
        width: 120px;
        height: auto;
    }
    /* Navigation */
    .navigation-box {
        width: 55%;
    }
    .navigation {
        position: static;
        top: unset;
        display: block;
    }
    .navigation-outline {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    /* Nav links */
    .header-nav-links {
        position: relative;
        top: 5px;
        flex-direction: row;
    }
    .header-nav-link, .active-link .header-nav-link {
        font-size: 1rem;
        font-weight: 500;
    }
    .header-nav-link {
        letter-spacing: -0.4px;
        color: hsl(124, 25%, 11%, 0.55);
    }
    .header-link-box {
        width: min-content;
        margin: 0px 20px 0px 0px;
        padding-bottom: 3px;
        transition: border 250ms ease-in-out;
    }
    .header-link-box:hover {
        border-bottom: 2px solid var(--primary);
    }
    .active-link {
        border-bottom: 2px solid var(--primary);
    }
    .active-link .header-nav-link {
        color: hsl(124, 25%, 11%, 0.9);
    }
    /* CTA Box */
    .header-cta-box {
        flex-direction: row;
        justify-content: flex-end;
    }
    .header-signup, .header-login {
        font-weight: 700;
        letter-spacing: 0.6px;
        line-height: 135%;
    }
    .header-signup-box {
        margin-right: 25px;
        box-shadow: 0px 5.6px 2.8px hsla(0, 0%, 0%, 0.15);
    }
    .header-login-box {
        margin-right: 0px;
        box-shadow: 0px 5.6px 2.8px hsla(0, 0%, 0%, 0.15);
    }
}
@media all and (min-width: 1366px) {
    .header-container {
        padding: 25px 75px;
        box-shadow: 0px 2px 4px 0px hsla(0, 0%, 0%, 0.05);
    }
    .logo {
        width: 127px;
    }
    .header-link-box {
        margin: 0px 30px 0px 0px;
    }
    .header-signup-box {
        margin-right: 32px;
    }
}
@media all and (min-width: 1440px) {
    .header-container {
        padding: 26px 100px;
    }
    .logo-box {
        width: 48%;
    }
    .logo {
        width: 132px;
    }
    .navigation-box {
        width: 53%;
    }
    .header-nav-links {
        left: -5px;
    }
    .header-link-box {
        margin: 0px 43px 0px 0px;
    }
    .header-signup-box {
        margin-right: 40px;
        padding: 6px 31px 10px;
    }
    .header-login-box {
        padding: 6px 28px 8px;
        border-radius: 30px;
    }
}