:root {
    font-size: 16px;
    --primary: #790073;
    --secondary: #4A4A4A;
    --light-paragraph: #666666BF;
    --active: #3A3838;
    --inactive: #A6A6A6;
}
* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    outline-color: var(--primary);
    outline-offset: 5px;
}
body {
    position: absolute;
    margin: 0;
    padding: 0;
    color: var(--secondary);
}
a {
    text-decoration: none;
    color: #2769E9;
}
a:hover {
    text-decoration: underline;
}
@media all and (min-width: 300px) {
    body {
        position: relative;
    }
}
@media all and (min-width: 425px) {
    :root {
        font-size: 16.5px;
    }
}
@media all and (min-width: 500px) {
    :root {
        font-size: 17px;
    }
}
@media all and (min-width: 568px) {
    :root {
        font-size: 17.5px;
    }
}
@media all and (min-width: 640px) {
    :root {
        font-size: 18px;
    }
}
@media all and (min-width: 768px) {
    :root {
        font-size: 19px;
    }
}
@media all and (min-width: 1024px) {
    :root {
        font-size: 16px;
    }
}
@media all and (min-width: 1366px) {
    :root {
        font-size: 20px;
    }
}